:root {
    --max-width: 800px; /* Define a reusable variable specifying maximum width of the elements */
}

body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/* Specify width for the required elements */

.width {
    width: 100%;
    max-width: var(--max-width);
}

/* Navigation bar */

.contents { 
    list-style-type: none; /* Remove bullet points from the list */
    margin-bottom: 50px;
}

.contents li {
    display: inline; /* Create a horizontal navigation bar */
}

.contents a {
    font-size: 25px;
    padding: 10px 20px;
}

.link {
    color: white; /* Change default blue color of links */
    text-decoration: none; /* Remove automatic underlining of links */
}

.link:hover {
    background-color: white;
    color: black;
    border-radius: 20%;
}

li.projects {
    display: inline-block;
  }

.projects-content {
    display: none;
    position: absolute;
}

.projects-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: white;
}

.projects-content a:hover {
    background-color: grey;
    color: white;
}

.projects:hover .projects-content {
    display: block;
}

/* Photo and name */

.photoandname {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: auto; /* For centering */
    margin-right: auto;
}

.name {
    margin-left: 90px;
    width: 450px;
}

.photo {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    overflow: hidden; /* For rotation animation */
    transition-duration: 0.8s; /* For rotation animation */
    transition-property: transform; /* For rotation animation */
}

.photo:hover {
    transform: rotate(360deg); /* For rotation animation */
    -webkit-transform: rotate(360deg); /* For rotation animation */
}

/* Introduction */

.intro {
    text-align: justify;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
}

#summary {
    margin-top: 40px;
}

