body {
    background-color: black;
    color: white;
    font-family: 'EB Garamond';
    font-size: 20px;
}

.contents { 
    list-style-type: none; /* Remove bullet points from the list */
    margin-bottom: 50px;
}

.contents li {
    display: inline; /* Create a horizontal navigation bar */
}

.contents a {
    font-size: 25px;
    padding: 10px 20px;
}

.link {
    color: white; /* Change default blue color of links */
    text-decoration: none; /* Remove automatic underlining of links */
}

.link:hover {
    background-color: white;
    color: black;
    border-radius: 20%;
}

.photoandname {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.name {
    margin-left: 90px;
}

.photo {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.intro {
    text-align: justify;
    margin-left: 600px;
    margin-right: 600px;
    line-height: 1.5;
}